= simple_form_for @word do |f|
  .field-set
    .form-group
      = f.input :content, label: 'Word Name', class: 'form-control'
      = f.association :language, class: 'form-control'
    .form-group
      = f.submit :submit, class: 'btn btn-primary'