%html{:lang => "en"}
  %head
    - csrf_meta_tags
    - csp_meta_tag
    
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "Angipl", :name => "description"}/
    %meta{:content => "Oscar M. Olivera", :name => "author"}/
    %title Angipl

    = stylesheet_link_tag    'application', media: 'all', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield